1. What are the characteristics of the tuples? Is tuple immutable?

Ans.Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [1]:
t1 = (1, 2, 2, 3, 4)

In [2]:
t1

(1, 2, 2, 3, 4)

In [4]:
for i in t1:
    print(i)

1
2
2
3
4

In [5]:
t1[0]

1

Yes tuples are immutable it throws error when we try to manipulate values as shown below.

In [6]:
t1[0] = 4

TypeError: 'tuple' object does not support item assignment

2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

    1. count -> returns the number of elements in the tuple with the specific value

In [7]:
t1.count(1)

1

In [8]:
t1.count(100)

0

     B. index -> returns the position of the first occurance of the specified value.

In [9]:
t1.index(3)

3

In [10]:
t1.index(2)

1

Since tuples are immutable there are only two methods(count and index) which do not modify the tuples, whereas in list there are many methods as they can be modified.

3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.

List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Ans. Sets are a collection that is unordered and unindexed. They are mutable (changeable) but do not allow duplicate values to be held.

In [11]:
lst = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
s = set(lst)
s

{1, 2, 3, 4}

4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

union(): it will return all the elements from the two sets without changing any of the sets

In [12]:
s1 = {1, 2, 3, 4}
s2 = {1, 2, 3, 5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [14]:
s1

{1, 2, 3, 4}

In [15]:
s2

{1, 2, 3, 5}

As we can see the union method did not update any values in set s1/s2

update(): The update() method updates the current set, by adding items from another set

In [16]:
s1.update(s2)

In [17]:
s1

{1, 2, 3, 4, 5}

5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Dictionary is a collection used to store data which are in a key:value pairs.  A dictionary is a collection which is ordered, changeable and do not allow duplicates(key should be unique).

In [19]:
dct = {'emp_name':'koustub', 'emp_id': 1234}

In [20]:
dct

{'emp_name': 'koustub', 'emp_id': 1234}

In [21]:
type(dct)

dict

In [22]:
dct['emp_name']

'koustub'

In [23]:
dct['emp_id']

1234

6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

Yes we can create a nested dictionary, i.e we can pass another dict as a key:value pair as shown below.

In [24]:
student = {'student1': {'name': 'Koustub', 'roll_number': 1},
          'student2': {'name': 'xyz', 'roll_number': 2}}
student

{'student1': {'name': 'Koustub', 'roll_number': 1},
 'student2': {'name': 'xyz', 'roll_number': 2}}

In [25]:
student['student1']

{'name': 'Koustub', 'roll_number': 1}

In [26]:
student['student2']

{'name': 'xyz', 'roll_number': 2}

7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learning’, 'Deep Learning']

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [27]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('Topics')
dict1['Topics'] = ['Python', 'Machine Learning', 'Deep Learning']
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'Topics': ['Python', 'Machine Learning', 'Deep Learning']}

8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Three view objects in python dictionaries are 
1. keys() -> returns all the keys of the dictionary
2. values() -> returns all the values of the dictionary
3. items() -> returns a view object. The view object contains the key-value pairs of the dictionary as a tuples in a list.

In [28]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [29]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [30]:
list(dict1.keys())

['Sport', 'Teams']

In [31]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [32]:
list(dict1.values())

['Cricket',
 ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']]

In [33]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [36]:
list(dict1.items())

[('Sport', 'Cricket'),
 ('Teams',
  ['India',
   'Australia',
   'England',
   'South Africa',
   'Sri Lanka',
   'New Zealand'])]