# 16th Feb Assignment

#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a systematic collection of data that is organised and kept on a computer. It offers a framework for storing, organising, and retrieving data in a manner that allows for efficient information access and modification.

SQL DATABASES:-

Databases are categorized as Relational Database Management System (RDBMS).

SQL databases have fixed or static or predefined schema.

SQL databases display data in form of tables so it is known as table-based database.

SQL databases are vertically scalable.

NOSQL DATABASES:-

NoSQL databases are categorized as Non-relational or distributed database system.

NoSQL databases have dynamic schema.

NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.

NoSQL databases are horizontally scalable.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language, is a set of SQL commands used to define and manage a database's structure. To create, modify, and delete database objects like tables, indexes, and views, DDL statements are used.

CREATE:

create table test_table(c1 int , c2 varchar(50) , c3 int , c4 float , c5 varchar(50));

DROP:

drop table test_table;

ALTER:

alter table test_table add column dept_name varchar(20);

TRUNCATE:

truncate table employees;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a set of SQL commands used to manage the data stored in a database. DML commands are used to insert, update, and delete data in database tables.

INSERT:

INSERT INTO test_table (c1,c2,c3,c4,c5,dept_name) VALUES (100,"YASH",200,25.40,"DSM","COMP");

UPDATE:

UPDATE test_table SET c4 = 55000.00 WHERE c2="YASH";

DELETE

DELETE FROM test_name WHERE c2 = 'YASH';

#### Q4. What is DQL? Explain SELECT with an example.

Data Query Language, or DQL for short, is a set of SQL commands used to extract data from databases. To select and display data from one or more tables in a database, DQL commands are used.

select * from test_table;

#### Q5. Explain Primary Key and Foreign Key.

In a table, a primary key is a column or set of columns that uniquely identifies each row. The primary key serves as a means of referencing each row in the table from other tables and of ensuring that there are no duplicate rows in the table.

A column or set of columns in a table that refers to the primary key of another table is known as a foreign key. You can perform operations that use data from both tables because the foreign key creates a relationship between the two tables.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

https://prnt.sc/ONq5wlG9fGNz

cursor(): In order to run SQL queries on the database, the cursor() method creates a cursor object. The cursor object is used to communicate with the database, run SQL statements, and retrieve data.

execute(): SQL queries are run on the database using the cursor object's execute() method. The method runs an SQL query that is passed to it as a string parameter. If the query returns any results, we can retrieve them using the cursor object's fetch() or fetchall() methods.