####  Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Lending-company.csv')
# pd.read_csv(): This function is used to read data from a CSV file and create a DataFrame.

In [3]:
df.head(5)
# df.head(): This function is used to display the first few rows of a DataFrame.

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
0,1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
1,2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
2,3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
3,4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
4,5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [4]:
df.describe()
#df.describe(): This function is used to generate descriptive statistics of a DataFrame

,LoanID,TotalPrice,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360
count,1043.000000,1018.000000,1043.000000,1043.000000,1043.0,1043.000000,1043.000000,1043.000000
mean,522.000000,19562.843811,2528.092042,50.834132,365.0,3901.857143,5214.393097,17122.131352
std,301.232468,5955.588065,1504.467724,11.567390,0.0,2537.597667,2850.327133,5910.916736
min,1.000000,13475.000000,1000.000000,30.000000,365.0,-2770.000000,-2945.000000,650.000000
25%,261.500000,16300.000000,2200.000000,45.000000,365.0,2840.500000,3822.000000,15560.500000
50%,522.000000,17600.000000,2200.000000,45.000000,365.0,3420.000000,4742.000000,16617.000000
75%,782.500000,20950.000000,2200.000000,55.000000,365.0,5075.500000,6393.000000,19977.500000
max,1043.000000,70225.000000,8000.000000,150.000000,365.0,18851.000000,22143.000000,65001.000000

In [9]:
grp=df.groupby('Location')
#df.groupby(): This function is used to group data in a DataFrame based on a specified column or set of columns.

#### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [10]:
def index(df):
    newindex = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
    df = df.set_index(newindex)
    return df

#### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [11]:
def sum(df):
    total = 0
    for i, row in df.iterrows():
        if i < 3:
            total += row['Values']
        else:
            break
    print("Sum of the first three values in the 'Values' column: ", total)

#### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [12]:
def wordcnt(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

#### Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size: Returns the total number of items in the DataFrame, which is equal to the product of the number of rows and the number of columns.

DataFrame.shape: Returns a tuple containing the dimensions of the DataFrame (number of rows, number of columns).

#### Q6. Which function of pandas do we use to read an excel file?


The function read excel() reads an Excel file into a DataFrame df. The DataFrame that results can be printed or utilised for further analysis.

#### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [13]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

#### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [14]:
def select_rows(df):
    selected_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_df

The resulting new_df will contain only the selected rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10.

#### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [15]:
def calc(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return

#### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [16]:
def average(df):
    ma = df['Sales'].rolling(window=7, min_periods=1).mean()
    df['MovingAverage'] = ma
    return df

#### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

In [17]:
def add_weekday(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()
    return df

This function transforms the 'Date' column to a datetime format using the pd.to datetime() method then extracts the weekday name for each date in the column using the dt.day_name() method. The generated weekday names are saved in a new column called 'Weekday'.

#### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [19]:
def date(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    jandate = df.loc[mask]
    return jandate

#### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself.

we can use the pandas library functions by prefixing them with pd.